/app/config/config.yml
/app/cache
/app/logs
/app/cache/.gitkeep
/app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
composer.phar
composer.lock
.idea
/vendor
/vendor/*
vendor
/web/cache
/web/bundles
/web/fw
README.md
TODO.md
