<!DOCTYPE html>
<html>
<head>
    <title>{{ 'button.restore_pass'|trans }}</title>
</head>
<body>
<p>Bạn <span style="color:red;">{{ fullname }}</span> thân mến,</p>
<p>Cảm ơn bạn đã sử dụng sản phẩm WiAds. Để khôi phục mật khẩu, vui lòng bấm (click) vào liên kết sau:</p>
<p><a href="{{ url_active }}">{{ url_active }}</a></p>
<p>Nếu bạn gặp khó khăn trong việc khôi phục mật khẩu, hãy gọi tới hotline của chúng tôi: 0511.3605133</p>
<p>Trân trọng,</p>
<p><b>WiAds Team</b></p>
</body>
</html>