{% block headmeta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="vi" />
    <meta name="robots" content="index, follow" />
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="" />
    <!-- 
    <script type="text/javascript" src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
     -->
    <script type="text/javascript" src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/vendor/multiselect/js/jquery.multi-select.js"></script>
	<script type="text/javascript" src="/assets/vendor/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>
	<!-- 
	<link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" />
	 -->
	<link rel="stylesheet" href="/assets/vendor/jquery-ui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="/assets/vendor/multiselect/css/multi-select.css"/>
    <link rel="stylesheet" href="/assets/vendor/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css"/>
    <link rel="stylesheet" href="/assets/portalauth/css/main.css"/>
    <title>{{ title }}</title>
{% endblock %}