<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/bundles/advertiser/matrix/js/jquery.min.js"></script>
    
    <link rel="stylesheet" href="/bundles/advertiser/assets/css/demo18.css" />
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="tem2">
            <!-- <div class="title">
                <h2>Chào mừng bạn đến với</h2>
                <h1>Anh Cafe</h1>
            </div> -->
            <div class="button-facebook">
                <a href="#">
                    <img src="/bundles/advertiser/assets/img/button_facebook.png">
                </a>
            </div>
            <img src="/bundles/advertiser/assets/img/bg_connect_2.png">
        </div>
    </div>
</div>
<style type="text/css">
    .tem2{
        position: relative;
    }

    .tem2 img{
        max-width: 100%;
        height: auto;
    }

    .tem2 .title{
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
    }

    .tem2 .button-facebook{
        position: absolute;
        width: 100%;
        height: auto;
        top:60%;
    }

    .tem2 .button-facebook img{
        display: block;
        margin: 0 auto;
    }

	iframe {
		margin: 0 auto !important;
	}
	.container{
		/*height: auto !important;*/
        background-color: #112c49;
	}
</style>
</body>
</html>