<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href='/bundles/advertiser/assets/css/wifi_login_fullscreen.css' />
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="wrap_connect">
            <img src="/bundles/advertiser/assets/img/bg_loginfullscreen.jpg" alt="BANNER NEN">
            <div class="head">
                <!-- TEN QUAN -->
                <h3>CAFE VIPMON</h3> 
                
                <div class="logo">
                    <a href="#">
                        <img src="/bundles/advertiser/assets/img/logo_wiads.png" alt="LOGO WIADS">
                    </a>
                </div>
                <!-- LOGO QUÁN -->
                <div class="logo_accesspoint" style="background: url('/bundles/advertiser/assets/img/logo_accesspoint.png') no-repeat center center / auto 100%">

                </div>
            </div>
            <div class="wrap_text">
                <div class="text">
                    <p>Mua 2 doi giay <font color="red">tang</font> 1 doi giay bat ky</p>
                </div>
            </div>
            <div class="wrap_button">
                <div class="button_login">
                    <a href="#">
                        Login
                    </a>
                </div>
                <p>113 Nguyễn Chí Thanh - Hotline: 05113.432.423</p>
            </div>
            <div class="footer">
                <p>Cảm ơn bạn đã sử dụng dịch vụ WiAds</p>
                <a href="#">www.wiads.vn</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>