<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bundles/advertiser/assets/css/demo7.css" />
</head>
<body>
<div class="container">
    <div class="screen">
        <header>
            <div class="head">
                <p>Kết nối thành công</p>
            </div>
        </header>
        <div class="wrap_connect">
            <img src="/bundles/advertiser/assets/img/bg_loginfullscreen.jpg" alt="BANNER NEN">
           
            <!-- <div class="wrap_text">
                <div class="text">
                    <p>Mua 2 doi giay <font color="red">tang</font> 1 doi giay bat ky</p>
                </div>
            </div> -->
        </div>
        <div class="wrap_button">
            <div class="button_login">
                <p>Mã giảm giá: 000-000-000-000</p>
                <span>Vui lòng chụp lại mã giảm giá để sử dụng</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>