<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href='/bundles/advertiser/assets/css/wifi_login.css' />
</head>
<body>
    <div class="container" style="background: #8b8c8e">
        <div class="success">
            <div class="su_box">
                <div class="logo">
                    <img src="/bundles/advertiser/assets/img/logo.jpg" alt="292x153">
                </div>
                <div class="description">
                    <p>Giải pháp của WiAds <br>CPC rẻ nhất thị trường</p>
                </div>
                <div class="button">
                    <a href="">Kết nối thành công</a>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer_success">
                <p>www.wiads.vn</p>
            </div>
        </footer>
    </div>
</body>
</html>