<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/bundles/advertiser/matrix/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/bundles/advertiser/assets/css/demo18.css" />
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="tem2">
            <div class="b1">
                <img src="/bundles/advertiser/assets/img/b3_1.png">
            </div>
            <div class="ads">
                <img src="/bundles/advertiser/assets/img/ads.png">
            </div>
            <div class="footer">
                <img src="/bundles/advertiser/assets/img/b3_2.png">
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .tem2{
        position: relative;
    }

    .tem2 img{
        max-width: 100%;
        height: auto;
        display: block;
    }

    .tem2 .title{
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
    }

    .tem2 .ads{
        width: 100%;

    }

    .tem2 .ads img{

    }



	iframe {
		margin: 0 auto !important;
	}
	.container{
		/*height: auto !important;*/
        background-color: #112c49;
	}
</style>
</body>
</html>