<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href='/bundles/advertiser/assets/css/demo12.css' />
</head>
<body>
<div class="container">
    <div class="screen">
        <header>
            <div class="head">
                <p>Kết nối thành công</p>
            </div>
        </header>
        <div class="wrap_connect">
            <img src="/bundles/advertiser/assets/img/bg.png" alt="BANNER NEN">
            <div class="wrap_button_success">
                <div class="wrap_v">
                    <span><img src="/bundles/advertiser/assets/img/logo_cafe.png"></span>
                    <p>Giải pháp của Wiads <br>CPC rẻ nhất thị trường</p>
                    <a>Kết nối thành công</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="#">www.wiads.vn</a>
        </div>
    </div>
</div>
</body>
</html>