<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bundles/advertiser/assets/css/demo15.css" />
</head>
<style type="text/css">
    

</style>
<body>
<div class="container">
    <div class="screen">
        <header>
            <div class="head">
                <a href="">
                    <div class="logo_wiads">
                        <img src="/bundles/advertiser/assets/img/logo_wiads.png" alt="LOGO WIADS">
                    </div>
                    <!-- LOGO QUÁN -->
                    <div class="logo_accesspoint" style="background: url('/bundles/advertiser/assets/img/logo_accesspoint.png') no-repeat center right / auto 100%">

                    </div>
                    <!-- TEN QUAN -->
                    <h3>CAFE VIPMON</h3> 

                    <img src="/bundles/advertiser/assets/img/banner_640x152.jpg" alt="640x152 Banner NỀN">
                </a>
            </div>
        </header>
        <div class="wrap_connect">
            <img src="/bundles/advertiser/assets/img/bg_cuahang.png" alt="BANNER NEN">
            
            <div class="wrap_text">
                <!-- <div class="text">
                    <p>Mua 2 doi giay <font color="#fcb017">tang</font> 1 doi giay bat ky</p>
                </div> -->
                <div class="form_info">
                    <div class="row">
                        <label>Họ và tên:</label>
                        <input type="text" name="name" >
                    </div>
                    <div class="row">
                        <label>Email:</label>
                        <input type="text" name="email" >
                    </div>
                    <div class="row">
                        <label>Số điện thoại:</label>
                        <input type="text" name="phone" >
                    </div>
                    <div class="row">
                        <label>Địa chỉ:</label>
                        <input type="text" name="address" >
                    </div>
                    <div class="row">
                        <a class="btn sub_form" onclick="sub_form();">Login</a>
                    </div>
                    <div class="row">
                        <p class="or">Hoặc</p>
                    </div>
                    <div class="row">
                        <a class="btn sub_face" onclick="sub_face();">Facebook</a>
                    </div>
                </div>
            </div>

            <!-- <span>263 Nguyễn Chí Thanh - Hotline: 05113.616.659</span> -->
        </div>
        <div class="wrap_button">
            <!-- <span>263 Nguyễn Chí Thanh - Hotline: 05113.616.659</span> -->
            <div class="button_login">
                <a class="btn sub_face" onclick="sub_face();">Facebook</a>
                <a class="btn sub_form" onclick="sub_form();">Login</a>
                <!-- <a href="#">
                    Login
                </a> -->
            </div>
        </div>
    </div>
</div>
</body>
</html>