<!DOCTYPE html>
<html lang="en">
<head>
    <title>WiAds Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bundles/advertiser/matrix/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bundles/advertiser/matrix/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/bundles/advertiser/matrix/css/uniform.css" />
    <link rel="stylesheet" href="/bundles/advertiser/matrix/css/select2.css" />
    <link rel="stylesheet" href="/bundles/advertiser/matrix/css/colorpicker.css" />
    <link rel="stylesheet" href="/bundles/advertiser/matrix/css/datepicker.css" />
    <link rel="stylesheet" href="/bundles/advertiser/matrix/css/matrix-style.css" />
    <link rel="stylesheet" href="/bundles/advertiser/matrix/css/matrix-media.css" />
    <link href="/bundles/advertiser/matrix/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>


    <script src="/bundles/advertiser/matrix/js/jquery.min.js"></script>
    <script src="/bundles/advertiser/matrix/datatables/js/jquery.dataTables.min.js"></script>
</head>
<body>

<div id="content" style="margin-left: 0;">
    <div class="container-fluid">
        <hr>
        {% block content %}

        {% endblock %}
    </div>
</div>


<script src="/bundles/advertiser/matrix/js/jquery.ui.custom.js"></script>
<script src="/bundles/advertiser/matrix/js/bootstrap.min.js"></script>
<script src="/bundles/advertiser/matrix/js/jquery.uniform.js"></script>
<script src="/bundles/advertiser/matrix/js/select2.min.js"></script>

<script src="/bundles/advertiser/matrix/js/bootstrap-colorpicker.js"></script>
<script src="/bundles/advertiser/matrix/js/bootstrap-datepicker.js"></script>

<script src="/bundles/advertiser/matrix/js/matrix.js"></script>
<script src="/bundles/advertiser/matrix/js/matrix.tables.js"></script>


<script src="/bundles/advertiser/matrix/js/jquery.toggle.buttons.js"></script>
<script src="/bundles/advertiser/matrix/js/masked.js"></script>
<script src="/bundles/advertiser/matrix/js/matrix.form_common.js"></script>
<script src="/bundles/advertiser/matrix/js/jquery.peity.min.js"></script>


</body>
</html>
