<div style="width: 100%; background-color: #f4770e; height: 3px;"></div>
<div id="footerExt">
    <div id="footer">
        <div id="copyright" style="text-align: center; margin-top: 20px">
                <span style="color: white; font-family: Arial; font-size: 11px">
                    Copyright &copy; 2016 <a href="http://wiads.vn" target="_blank" style="color: white;"> WiAds JSC
                    </a> All rights reserved.
                </span>
        </div>
        <div class="cleared"></div>
    </div>
</div>