<div class="">
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container" id="header">
            <div class="">
                <div class="" id="logoSection">
                    <a href="/" class="navbar-brand" style="margin: 0px; padding: 0px; padding-top: 6px;">
                        {% image '@AppBundle/Resources/public/images/logo.png' %}
                            <img src="{{ asset_url }}" alt="Tanaza" class="pngimg" /></a>
                        {% endimage %}
                </div>
                <div class="col-md-8"></div>
            </div>
        </div>
    </header>
</div>
<div style="width: 100%; height: 60px"></div>
<div style="width: 100%; background-color: #f4770e; height: 3px;"></div>