{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <section id="forgot">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-box-plain">
                        <h2 class="bigintro">Reset Password</h2>
                        {% if app.session.flashBag.has('error') %}
                            <div class="alert alert-danger">
                                {% for msg in app.session.flashBag.get('error') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="divide-40"></div>
                        {% endif %}
                        {% if app.session.flashBag.has('success') %}
                            <div class="alert alert-success">
                                {% for msg in app.session.flashBag.get('success') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="divide-40"></div>
                        {% endif %}
                        <form action="" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter your Email address</label>
                                <i class="fa fa-envelope"></i>
                                <input maxlength="50" required type="email" name="email" class="form-control">
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-info">Send Me Reset Instructions</button>
                            </div>
                        </form>
                        <div class="login-helpers">
                            <a href="{{ path("advertiser_login") }}">Back to Login</a> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}