{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <section id="forgot">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-box-plain">
                        <h5 class="h5_register_sucess">Register Success.</h5>
                        <p class="p_register_sucess">Check email to activate your account</p>
                        <div class="login-helpers">
                            <a href="{{ path('advertiser_homepage') }}">Click to Home</a> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}