<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if 'facebook.com' not in linkTo and linkTo is not empty %}
    {#% if linkTo is not empty %#}
        <meta http-equiv="refresh" content="0;url={{ linkTo | raw }}">
    {% endif %}
    <title>Success</title>
    <link rel="stylesheet" href='/bundles/advertiser/assets/css/demo12.css' />
</head>
<body>
<div class="container">
    <div class="screen">
        <header>
            <div class="head">
                    <a href="{{ linkTo | raw }}" target='_blank'><p>Kết nối thành công</p></a>
            </div>
        </header>
        <div class="wrap_connect">
            {% if linkTo is not empty %}
                <a href="{{ linkTo | raw }}" target='_blank'>
                    <img class="full-img" src="/media/images/nhnhat/bamicoffee-l1.jpg"/>
                </a>
            {% else %}
                <a href="http://google.com.vn" target='_blank'>
                    <img class="full-img" src="/media/images/nhnhat/bamicoffee-l1.jpg"/>
                </a>
            {% endif %}


            <div class="wrap_button_success">
                <div class="wrap_v">
                </div>
            </div>
        </div>
        <div class="footer">
                <a href="{{ linkTo | raw }}" target='_blank'>OK</a>
        </div>
    </div>
</div>
</body>
</html>